<html>
<head><title>IRP-Internetowy rejestrator pralek</title>
<link rel="stylesheet" href="style/style.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

<div class="container">

  <form>
  <h1><img src="img/logo.png" width='60'>Pomoc</h1><center>
<br>Aby zresetować numer PIN udaj się do recepcji.
<br>Aby uzyskać dane logowania udaj się do administracji.
<br><br></center>
  
  <a href="/"><div class="buttonHelp">Powrót do logowania</div></a>
  
</form>
      

</div>
</body>
</html>
