<html>
    <head><title>Rejestracja pralek</title>
        <script type="text/javascript" src="../js/lib/angular.min.js"></script>
        <link rel="stylesheet" href="style/style_panel.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body ng-app="washers">
        <div class="container" ng-controller="panelController" ng-show="isShow">

            <div class="panelH">
                <div class="panelHR">Zalogowany jako: {{user.name}} {{user.lastName}}
                </div>
            </div>

            <div class="panelL">
                <div class="panelLogo"><img src="img/logoRP.png" width='200'>
                </div>
                <div id="panelMenu">
                    <form><button>Ostrzeżenia</button></form>
                    <form><button ng-click="logout()">Wyloguj</button></form>

                    <form>
                        <!--                    <a href="#"><div class="button">Pralka F1_01</div></a>
                                            <a href="#"><div class="button">Pralka F1_02</div></a>
                                            <a href="#"><div class="button">Pralka F1_03</div></a>
                                            <a href="#"><div class="button">Pralka F1_04</div></a>-->

                        <ul>
                            <li data-ng-repeat="w in washers.data">
                                <button ng-click="selectWasher(w.idWasher)">Pralka nr {{w.noWasher}} pralnia {{w.laundry.name}} </button>
                            </li>
                        </ul>
                    </form>
                </div>

                <!--                <div class="panelMenu2">
                                    <form>
                                                        <a href="#"><div class="button">Pralka F1_01</div></a>
                                                        <a href="#"><div class="button">Pralka F1_02</div></a>
                                                        <a href="#"><div class="button">Pralka F1_03</div></a>
                                                        <a href="#"><div class="button">Pralka F1_04</div></a>
                
                                    <ul>
                                        <li data-ng-repeat="w in washers.data">
                                            <button>Pralka nr {{w.noWasher}} pralnia {{w.laundry.name}} </button>
                                        </li>
                                    </ul>
                                    </form>
                                </div>-->

            </div>


            <div class="panelR">
                <!--<h2>Podsumowanie</h2>-->
                <!--                <div class="box"><h1>2</h1>Liczba ostrzeżeń</div>-->
                <!--                <div class="box"><h1>{{user.reservations}}</h1>Ilość rezerwacji</div>
                                <div class="box"><h1>{{user.laundry.name}}</h1>Przydzielona pralnia</div>-->
                <div class="panelRejestracja">
                    <form>
                        <input type="date" name="date" ng-model="dateReservation" min="{{date| date:'yyyy-MM-dd'}}" max="{{date8| date:'yyyy-MM-dd'}}" required>
                        <input type="time" name="date" ng_model="timeStartReservation" min="06:00" max="21:00" required>
                        <span class="validity"></span>
                        <select ng-model="timeOption">
                            <option value="1.5">1,5 godz</option>
                            <option value="2">2 godz</option>
                            <option value="2.5">2,5 godz</option>
                            <option value="3">3 godz</option>
                            <option value="3.5">3,5 godz</option>
                            <option value="4">4 godz</option>
                        </select>
                        <button ng-click="reservation()">Rezerwuj</button>
                    </form>
                </div>
                <div class="panelHarmonogram">
                    Harmonogram pralki nr: {{selectedWasher}}
                    <table  ng-if="isSelectedWasher">
                        <tr><th>Godz</th><th>{{date| date:'yyyy-MM-dd'}}</th><th>{{date1| date:'yyyy-MM-dd'}}</th><th>{{date2| date:'yyyy-MM-dd'}}</th><th>{{date3| date:'yyyy-MM-dd'}}</th><th>{{date4| date:'yyyy-MM-dd'}}</th><th>{{date5| date:'yyyy-MM-dd'}}</th><th>{{date6| date:'yyyy-MM-dd'}}</th><th>{{date7| date:'yyyy-MM-dd'}}</th><th>{{date8| date:'yyyy-MM-dd'}}</th></tr>
                        <tr ng-repeat="x in timetable">
                            <td>{{x.time}}</td><td bgcolor="{{x.resToday.color}}"></td><td bgcolor="{{x.resToday1.color}}"></td><td bgcolor="{{x.resToday2.color}}"></td><td bgcolor="{{x.resToday3.color}}"></td><td bgcolor="{{x.resToday4.color}}"></td><td bgcolor="{{x.resToday5.color}}"></td><td bgcolor="{{x.resToday6.color}}"></td><td bgcolor="{{x.resToday8.color}}"></td><td bgcolor="{{x.resToday3.color}}"></td>
                    </table>
                </div>
            </div>				
        </div>
        <script type="text/javascript" onLoad="clearForms()">
            function clearForms()
            {
                var i;
                for (i = 0; (i < document.forms.length); i++) {
                    document.forms[i].reset();
                }
            }

            angular.module('washers', []).controller('panelController', function ($scope, $http) {
                $scope.isShow=false;
                $scope.selectedWasher = null;
                $scope.isSelectedWasher = false;
                $scope.date = new Date();
                $scope.date1 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 4);
                $scope.date2 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 5);
                $scope.date3 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 6);
                $scope.date4 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 7);
                $scope.date5 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 8);
                $scope.date6 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 9);
                $scope.date7 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 10);
                $scope.date8 = new Date($scope.date.getYear() + 1900, $scope.date.getMonth(), $scope.date.getDay() + 11);
                var showPage = false;
                var login = findGetParameter("login");
                var password = findGetParameter("password");
                $http.get("http://localhost:8080/log/" + login + "/" + password).
                        then(function (result) {
                            console.log("success", result);
                            if (!result.data)
                            {
                                window.location = "/";
                            } else
                            {
                                showPage = true;
                                $scope.isShow=true;
                                if (showPage) {
                                    console.log("showPage", showPage);
                                }
                                $http.get("http://localhost:8080/users/id/" + login).
                                        then(function (result) {
                                            $scope.user = result.data;
                                            console.log("user", $scope.user);
                                            $http.get("http://localhost:8080/w/" + $scope.user.dormitory.name).
                                                    then(function (result) {
                                                        console.log("washers", result)
                                                        $scope.washers = result;
                                                    }), function (err) {
                                                console.log("err", err);
                                            };
                                            $http.get("http://localhost:8080/res/user/" + $scope.user.idUser).
                                                    then(function (result) {
                                                        console.log("rezerwacje", result);
                                                        $scope.user.reservations = result.data;
                                                    }), function (err) {
                                                console.log("err", err);
                                            };
                                        }), function (err) {
                                    console.log("err", err);
                                };
                                $scope.selectWasher = function (idWasher) {
                                    $scope.isSelectedWasher = true;
                                    $scope.selectedWasher = idWasher;
                                    $http.get("http://localhost:8080/res/timetable/" + idWasher + "/" + $scope.user.idUser).
                                            then(function (result) {
                                                $scope.timetable = result.data;
                                            }), function (err) {
                                        console.log("err", err)
                                    };
                                }
                                $scope.reservation = function () {
                                    console.log("data", $scope.dateReservation);
                                    console.log("czas", $scope.timeStartReservation.valueOf);
                                    console.log("opcja", $scope.timeOption);
                                    console.log("user", $scope.user.idUser);
                                    console.log("washer", $scope.selectedWasher);
                                    $http.get("http://localhost:8080/res/add/" + $scope.user.idUser + "/" + $scope.selectedWasher + "/" + $scope.dateReservation + "/" + $scope.timeStartReservation + "/" + $scope.timeOption).
                                            then(function (result) {
                                                console.log("wynik", result);
                                                if (result.data == true)
                                                {
                                                    alert("Zarezerwowano");
                                                }
                                                else
                                                {
                                                    alert("Nie zarezerwowano. Sprawdź termin i poprwaność danych");
                                                }
                                            }), function (err) {
                                        console.log("err", err);
                                        alert("Nie zarezerwowano/nSprawdź termin i poprwaność danych");
                                    };
                                };
                            }
                        }), function (err) {
                    console.log("err", err);
                    window.location = "/";
                };
                $scope.logout = function () {
                    window.location = "/wyloguj";
                };
            });

            function findGetParameter(parameterName) {
                var result = null,
                        tmp = [];
                location.search
                        .substr(1)
                        .split("&")
                        .forEach(function (item) {
                            tmp = item.split("=");
                            if (tmp[0] === parameterName)
                                result = decodeURIComponent(tmp[1]);
                        });
                return result;
            }
        </script>
    </body>
</html>
