<html>
    <head><title>Rejestracja pralek</title>
        <script type="text/javascript" src="../js/lib/angular.min.js"></script>
        <link rel="stylesheet" href="style/style_panel.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body ng-app="washers">
        <div class="container" ng-controller="panelController">

            <div class="panelH">
                <div class="panelHR">Zalogowany jako: {{user.name}} {{user.lastName}}
                </div>
            </div>

            <div class="panelL">
                <div class="panelLogo"><img src="img/logoRP.png" width='200'>
                </div>
                <div class="panelMenu">
                    <a href="#"><div class="button">Ostrzeżenia</div></a>
                    <a href="/"><div class="button">Wyloguj</div></a>
                </div>

                <div class="panelMenu2">
                    <!--                    <a href="#"><div class="button">Pralka F1_01</div></a>
                                        <a href="#"><div class="button">Pralka F1_02</div></a>
                                        <a href="#"><div class="button">Pralka F1_03</div></a>
                                        <a href="#"><div class="button">Pralka F1_04</div></a>-->

                    <ul>
                        <li data-ng-repeat="w in washers.data">
                            Pralka nr {{w.noWasher}} pralnia {{w.laundry.name}} 
                        </li>
                    </ul>
                </div>

            </div>


            <div class="panelR">
                <h2>Podsumowanie</h2>
                <div class="box"><h1>2</h1>Liczba ostrzeżeń</div>
                <div class="box"><h1>{{user.reservations}}</h1>Ilość rezerwacji</div>
                <div class="box"><h1>{{user.laundry.name}}</h1>Przydzielona pralnia</div>
            </div>				
        </div>
        <script type="text/javascript" onLoad="clearForms()">
            function clearForms()
            {
                var i;
                for (i = 0; (i < document.forms.length); i++) {
                    document.forms[i].reset();
                }
            }

            angular.module('washers', []).controller('panelController', function ($scope, $http) {
                var showPage = false;
                var login = findGetParameter("login");
                var password = findGetParameter("password");
                $http.get("http://localhost:8080/log/" + login + "/" + password).
                        then(function (result) {
                            console.log("success", result);
                            if (!result.data)
                            {
                                window.location = "/";
                            } else
                            {
                                showPage = true;
                                if (showPage) {
                                    console.log("showPage", showPage);
                                }
                                $http.get("http://localhost:8080/users/id/" + login).
                                        then(function (result) {
                                            $scope.user = result.data;
                                            console.log("user", $scope.user);
                                            $http.get("http://localhost:8080/w/" + $scope.user.dormitory.name).
                                                    then(function (result) {
                                                        console.log("washers", result)
                                                        $scope.washers = result;
                                                    }), function (err) {
                                                console.log("err", err);
                                            };
                                            $http.get("http://localhost:8080/res/user/" + $scope.user.idUser).
                                                    then(function (result) {
                                                        console.log("rezerwacje", result);
                                                        $scope.user.reservations = result.data;
                                                    }), function (err) {
                                                console.log("err", err);
                                            };
                                        }), function (err) {
                                    console.log("err", err);
                                };

                            }
                        }), function (err) {
                    console.log("err", err);
                    window.location = "/";
                };
                $scope.logout = function () {
                    window.location = "/wyloguj";
                };
            });

            function findGetParameter(parameterName) {
                var result = null,
                        tmp = [];
                location.search
                        .substr(1)
                        .split("&")
                        .forEach(function (item) {
                            tmp = item.split("=");
                            if (tmp[0] === parameterName)
                                result = decodeURIComponent(tmp[1]);
                        });
                return result;
            }
        </script>
    </body>
</html>
