<html>
<head><title>Rejestracja pralek</title>
<link rel="stylesheet" href="style/style.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
<meta http-equiv="refresh" content="2; url='/'">
</head>

<body>

<div class="container">

  <form>
  <h1><img src="img/logo.png" width="60px">Panel logowania</h1><center>
  <img src="img/animacja4.gif" width="300px">
  <h2>Wylogowano poprawnie</h2>
  
</form>
      

</div>
</body>
</html>
